<!-- barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-lg-2 col-sm-1 container">
        <a class="text-light" href="https://edavilaz.github.io" target="_blank">Desarrollador</a>
    </div>
    <div class="col-lg-10 col-sm-1" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/alerta">Alerta Extrema</a></li>
            <li class="nav-item"><a class="nav-link" href="/avatar">Avatar</a></li>
            <li class="nav-item"><a class="nav-link" href="/bodas">Bodas de Plomo</a></li>
            <li class="nav-item"><a class="nav-link" href="/socios">Socios por accidente</a></li>
            <li class="nav-item"><a class="nav-link" href="/hombre">El último Hombre sobre la tierra</a></li>
            <li class="nav-item"><a class="nav-link" href="/wakanda">Wakanda Forever</a></li>
        </ul>
    </div>
</nav>
