.actor {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.actor img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.zoom:hover
{

  transform: scale(1.2);

}
