<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <h2 class="display-2 text-black-50 text-center fw-bold">
      {{lista[0].titulo}}
    </h2>
    <span class="placeholder col-12 bg-dark"></span>
    <div class="bg-dark bg-gradient row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-12 text-center">
            <img class="img-fluid rounded mt-4 mb-4 mb-lg-0" src="{{lista[0].imagen}}" width="20%"/>
        </div>

           <div class="breadcrumb col-9 m-auto mb-5">
            <p class="h4 text-light m-2">
                {{lista[0].descripcion2}}
            </p>
            <p class="h5 text-warning m-2">Género:</p>
            <p class="h5 text-light m-2">
                {{lista[0].genero}}</p>
            <p class="h5 text-warning m-2">Año:</p>
            <p class="h5 text-light m-2">{{lista[0].anio}}</p>
            <p class="h5 text-warning m-2">Actores:</p>
            <p class="h5 text-light m-2">{{lista[0].actor}}</p>
        </div>
    </div>

